@import "primereact/resources/primereact.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --surface-border-light: rgba(21, 23, 30, 0.4);
  --text-color-secondary-light: rgba(21, 23, 30, 0.6);
  --text-color-light: rgb(21, 23, 30);

  --surface-border-dark: rgba(234, 236, 240, 0.4);
  --text-color-secondary-dark: rgba(234, 236, 240, 0.6);
  --text-color-dark: rgba(234, 236, 240, 1);
}

*:focus-visible {
  outline: none;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
